$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

/* Modo Oscuro */
$azulOscuro4 : #554ed4;
$azulOscuro3 : #1B1A55;
$azulOscuro2 : #535C91;
$azulOscuro1 : #979ec9;

$fuente_principal: "Staatliches", sans-serif;

//* Medias Query
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;